.about{
    display: flex;
    // align-items: center;
    justify-content: center;
    width: 100vw;
    // background-color: #cc4545;
}
.big{
    width: 90vw;
}
.ab{
  color: #707B7C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.con{
    margin-top: 10px;
    font-size: 4vw;
    line-height: 5vh;
    color: #BDC3C7;
}